<ion-menu id="loggedInMenu" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">
    <ion-list>
      <button ion-item menuClose *ngFor="let p of loggedInContent" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list *ngIf="auth.team || auth.isAdmin">
      <ion-list-header>
        Team Pages
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of teamPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
    </ion-list>

    <ion-list *ngIf="auth.isAdmin">
      <ion-list-header>
        Admin Pages
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of adminPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        My Account
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu id="loggedOutMenu" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="outer-content">
    <ion-list>
      <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="pushPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
